{% extends 'base.html.twig' %}

{% block title %}Accueil | Sandwicherie 26{% endblock %}

{% block body %}
    <section class="py-12">
        <div class="max-w-3xl space-y-4">
            <h1>Bienvenue chez Sandwicherie 26</h1>
            <p>
                Une page d'accueil simple, prête a accueillir le contenu du site vitrine.
            </p>
        </div>
    </section>
{% endblock %}
