{% extends 'base.html.twig' %}

{% block title %}Admin | Sandwicherie 26{% endblock %}

{% block body %}
    <section class="space-y-6">
        <div class="space-y-2">
            <h1>Administration</h1>
            <p>Point d'entree minimal pour gerer les produits.</p>
        </div>

        <a href="{{ path('admin_product_index') }}" class="btn btn-primary">
            Gerer les produits
        </a>
    </section>
{% endblock %}
